body {
    background-attachment: fixed;
    background-color: green;
	}

div.main {
	width: 80%;
    padding: 10px;
    background: #ffffff;
	word-wrap: break-word;
	margin: auto;
	}

div.title_text {
	font-size: 20pt;
	color: #ffffff;
	border: 1;
	width: 80%;
    padding: 10px;
	word-wrap: break-word;
	}

a {
    text-decoration: none;
}

a:link {
    color: #2d55aa;
}

a:visited {
    color: #2d55aa;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #2d55aa;
}

.green {
    color: green;
}

p.copyright {
         text-align: center;
         color: white;
    }